header{
    background:#0000ff;
    color:#ffffff;
}
.main{
    background:#f2589f;
}
.color1{
    background:#0000ff;
}

aside{
    background:#c0395b;
}

footer{
    background: #0000ff;
    color:#f3498f;
}
body{
    background: #0000ff;
    color:#f3498f;
}